{% extends 'base.html.twig' %}

{% block body %}

    <div class= "sortie">
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}

        <button type ="submit">Submit </button>
        {{ form_end(sortieForm) }}
    </div>

{% endblock %}