{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    <div class="container-fluid header">
        <div class="row">
            <div class="col-3">
                {% if app.user %}
                   <p class="textHeader">{{ app.user.username }} : <a href="{{ path('app_logout') }}">Logout</a></p>
                {% else %}
                <p class="textHeader"> non connecté : <a href="{{ path('app_login') }}">Login</a></p>
                        <div class="col-3">
                        <a href="{{ path('app_register') }}" class="textHeader">S'inscrire</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

