{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <script>

    </script>
{% endblock %}

{% block body %}

    <div class= "sortie">
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}

<button type ="submit">Submit </button>
        {{ form_end(sortieForm) }}



    </div>

{% endblock %}

