
/*CSS général :*/

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/12/51/concert-1845233_960_720.jpg");
    background-size: 100%;
    background-repeat:no-repeat ;
    color:white;
}

/*page de connexion : */
.login {
    width: 280px;
    margin:0 auto;
    padding-top: 80px;
}


.loginh1 {
    text-shadow: 4px 4px 9px rgba(0,0,0,0.72);
}


.header {
    background-color: white;
    border-bottom: black solid 1px;
    height: 4em;
}

.fond {
    background-color: white;
}

.table ville td {
    background-color: white;
}

.textHeader{
    font-size: 2em;
}

a, a:hover {
    color: white;
    text-decoration: none;
}

.logo{
    width: 70px;
    height: 70px;

}
.m-t-50{
padding: 15px;
}
.logoPos{

}


.sortie {
    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    top:0px;
    width: 75%;
    background-color: #222222;
    height: 25%;
    border:white 3px solid;
    opacity:0.85;
}

.afficherVille {
    padding: 2em;
    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    text-align: center;
    top:0px;
    width: 75%;
    background-color: black;
    height: 25%;
    border:white 3px solid;
    opacity:0.85;
}
/*gerer les sites*/
input#recherche_site_siteRecherche{
max-width: 400px;
text-align: center;
}
.textMonProfile{
    color: white;
text-align: center;
    text-shadow: 4px 4px 9px rgba(0,0,0,0.72);
}

.btn-p:hover, btn-p{
    color: white;
    text-decoration: inherit;
}

.register {
    position:relative;
    border-radius:10px;
    top:50px;
    color: white;
    margin: 0 auto;
    width: 75%;
    background-color: black;
    border:black 2px solid;
    height: 25%;


}
.ajouterLieu{

    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    top:50px;
    width: 50%;
    background-color: #222222;
    height: 25%;
    border:white 3px solid;
    text-decoration: none;


}
.tdStyle {
    color:white;
}


.btnS{
    text-decoration: none;
}


.bgList{
    background-color: #AAAAAA;
}

.imgT{
    display:inline-block;
    border-radius:50%;
}

