body{
    background-image: url("https://cdn.pixabay.com/photo/2019/11/29/08/34/space-4660847_1280.jpg");
}

.header {
    background-color: white;
    border-bottom: black solid 1px;
    height: 4em;
}

.fond {
    background-color: white;
}

.table ville td {
            background-color: white;
        }

.textHeader{
font-size: 2em;
}

a, a:hover {
    color: black;
}


.sortie {
    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    top:0px;
    width: 75%;
    background-color: #222222;
    height: 25%;
    border:white 3px solid;
    opacity:0.85;
}

.afficherVille {
    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    top:0px;
    width: 75%;
    background-color: black;
    height: 25%;
    border:white 3px solid;
    opacity:0.85;
}

.register {
    position:relative;
    border-radius:10px;
    top:50px;
    color: white;
    margin: 0 auto;
    width: 75%;
    background-color: black;
    border:black 2px solid;
    height: 25%;


}
.ajouterLieu{

    position:relative;
    border-radius:10px;
    color: white;
    margin: 0 auto;
    top:50px;
    width: 50%;
    background-color: #222222;
    height: 25%;
    border:white 3px solid;
    text-decoration: none;


}
.tdStyle {
    color:white;
}


.btnS{

    text-decoration: none;



}


.bgList{
    background-color: #AAAAAA;

}

.imgT{
display:inline-block;
    border-radius:50%;
}