{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="textMonProfile">Mon profil :</h1>
    <div class="sortie">
        <div class="row">
            <div class="col-8 offset-2">
                {{ form(formParticipant) }}
                    <a href="{{ path('base') }}">
                        <button class="btn btn-primary col-2 offset-5" type="submit">Annuler</button>
                    </a>

            </div>
        </div>
    </div>
    {# Affichage des Flashes #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div>{{ label }} : {{ message }}</div>
        {% endfor %}
    {% endfor %}

{% endblock %}

