{% extends 'base.html.twig' %}
{% block body %}
    <div class="formulaire">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="formulaireButton">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock body %}